<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .OuterDiv {
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.82);
      }
    </style>
    <title>orders page</title>
  </head>
  <body>
    <div class="OuterDiv">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-danger table-striped">
            <thead>
              <tr>
                <th scope="col">order id</th>
                <th scope="col">Product img</th>
                <th scope="col">Product price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="img-thumbnail" alt="..." style="min-width: 100px; height: 100px"></td>
                <td>$100</td>
                <td>2</td>
                <td>$200</td>
              </tr>
              <tr>
                <td>1</td>
                <td><img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="img-thumbnail" alt="..." style="min-width: 100px; height: 100px"></td>
                <td>$100</td>
                <td>2</td>
                <td>$200</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success btn-lg mx-2 mt-3">
          Total Price-$400
        </button>
    </div>
  </body>
</html>
